<!-- Use @title in h1 -->
<h1>about</h1>	
<div class="container" id="inside_main_content">
	<div class="row">
		<div class="span9" name="left_sidebar_about">
			<!-- 
				MAIN RECIPE CONTENT

				TO DO: recipe objects
			-->
		</div>
		<div class="span3" name="main_about"> <!-- content --> </div>
	</div>
</div>