<h1>contact</h1>
<div class="row">
	<div class="span3" name="left_sidebar_contact"> <!-- content --> </div>
		<div class="span9" name="main_contact">
			<!-- 
				MAIN RECIPE CONTENT

				TO DO: recipe objects
			-->
			<h4>Contacting Ripe</h4>
			<p> Ripe is a gret place to find awesome salad recipes. Contact us with 
				thoughts, suggestions and feedback using the form below.</p>
		</div>
	<div class="span3" name="right_sidebar_contact"> <!-- content --> </div>
</div>