<!-- Use @title in home -->
<h1>recipes</h1>
<div class="container" id="inside_main_content">
	<div class="row">
		<div class="span9" name="main_recipe">
			<!-- 
				MAIN RECIPE CONTENT

				TO DO: recipe objects
			-->
		</div>
		<div class="span3" name="right_sidebar_recipe"> <!-- content --> </div>
	</div>
</div>
